* {
    list-style: none;
    box-sizing: border-box;
    background-color: bisque;
       
}

.carousel-item {
    justify-content: center;
    width: 58%;
}


h2 {
    font-size: 30px;
    font-weight: bolder;
    color: palevioletred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
 
    color: palevioletred;
    font-weight: lighter;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor {

    display:flex;
    border: solid black 2px;
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card {
    display:flex;
    border: solid black 2px;
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}

card-body {

    display:flex;
    border: solid black 2px;
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}
