@import url('http://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    list-style: none;
    background-color: bisque;    
}  

.fotos {
    
    background-color: white;
    border-color: brown;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;

}

.contenido {

    max-width: 1100px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}

.mostrador {

    width: 100%;
    transition: .5s case;

}

.mostrador .fila .item{
    
    max-width: 210px;
    padding: 30%;
    height: 250px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;

}

.mostrador .fila .item:hover{

    background-color: aliceblue;

}


.mostrador .fila .item .img{
    
    width: 100%;
    margin: 30px 0;
}

.mostrador .fila .item .descripcion{

    color: blue;
    font-weight: bold;

}

.mostrador .fila .item .precio{
    color: red;
    font-weight: bold;
    font-size: 20px;
}


.superfooter {

    background-color: bisque;
    
}

.contener iconos {

    display: flex;
    justify-content: center;
    gap: 10px;
}

.contener iconos a {
    font-size: 30px;
}


.contener iconos a:hover {

    transform: scale(1.2);
}

.navbar navbar-expand-lg navbar-light bg-light {

    display: inline-block;
      
}
   
.carousel-item {
    
    justify-content: center;
    width: 65%;
   
}

.contenedor {

    display:flex;
    width: 100%;
    height: 600px;
    padding-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

.caja {
        
        margin-bottom: 10px;
        padding: 5px;
}

.alineados {

    display: flex;
    justify-content: center;
   
    }

h2 {
    font-size: 18px;
    font-weight: bolder;
    color: crimson ;
    font-family: "Segoe UI", sans-serif;
}

h1 { 
    color: black;
    justify-content: right;
    font-weight: lighter;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

h3 { 
    color: crimson ;   
    font-weight: bold;
    font-size: 35px;
    font-family: "Segoe UI", sans-serif;
}


.card {
    display:flex;
    border: solid black 2px;
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}

.card-body {

    display:flex;
    border: solid black 2px;
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}